<section id="service" class="container-fluid">
  <div id="title" class="container" style="text-align: center">
    <h3 id="services" style="color: red; font-size: 18px; position: center;">EXPLORE OUR SERVICES</h3>
    <img src="../../assets/images/title _line_category_1@1x.png" id="titleline">
  </div>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner row w-100 mx-auto">
      <div class="carousel-item col-md-4" *ngFor="let data of datas let i = index" [ngClass]="{'active' : i == 0}">
        <!--<div *ngFor="let data of datas let i = index" [ngClass]="{'carousel-item col-md-4' : true; 'carousel-item col-md-4 active' : i == 0}">-->
        <div class="card">
          <img src="http://{{data.imagePath}}">
          <h2>{{data.label}}</h2>
          <p>{{data.description}}</p>
          <!--
        <div *ngIf="data.Services != null">
          <div *ngFor="let service of data.Services">
            <h4>{{service.label_service}}</h4>
            <p>{{service.description_service}}</p>
          </div>
        </div>
        <div *ngIf="data.subCategories != null">
          <div *ngFor="let subcategory of data.subCategories">
            <h4>{{subcategory.label}}</h4>
            <p>{{subcategory.description}}</p>
            <img src="http://{{subcategory.imagePath}}">
            <div *ngFor="let subcatservice of subcategory.Services">
              <h4>{{subcatservice.label_service}}</h4>
              <p>{{subcatservice.description_service}}</p>
            </div>
          </div>
        </div>
        -->
        </div>
      </div>

    </div>
  </div>

  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>

  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

  <div class="col-lg-12 text-center" id="explore">
    <input id="redbtn" type="button" alt="exploreall" value="EXPLORE ALL" src="../../assets/images/btn_2_normal@1x.png">
  </div>
  <!--<div id="resultat"></div>-->
</section>
