<section id="services">
      <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h3 id="services" style="color: red; font-size: 18px; position: center;">HOW IT WORKS?</h3>
              <img src="../../assets/images/title _line_category_1@1x.png">
            </div>
          </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="../../assets/images/ic_booking@1x.png">
              <h3 class="mb-3">Booking</h3>
              <p class="text-muted mb-0">Our templates are updated regularly so they don't break.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="../../assets/images/ic_payment@1x.png">
              <h3 class="mb-3">Payment</h3>
              <p class="text-muted mb-0">You can use this theme as is, or you can make changes!</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="../../assets/images/ic_meeting@1x.png">
              <h3 class="mb-3">Meeting</h3>
              <p class="text-muted mb-0">We update dependencies to keep things fresh.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 text-center" id="explore">
        <input id="redbtn" type="button" alt="exploreall" value="I RESERVE" src="../../assets/images/btn_2_normal@1x.png">
      </div>
    </section>
