/*--
    subscribe Start
--*/
#subscribe {
  padding: 100px 0px;
  text-align: center;
  background: url("../../assets/images/news_letter_background_image_home@1x.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
ul{
  list-style: none;
}
#subscribe:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

#subscribe .block h1.heading {
  color: #fff;
}
#subscribe .block p {
  padding: 25px 0px;
  color: #fff;
  font-size: 18px;
}
#subscribe .block form .form-control {
  width: 500px;
  background: #fff;
  opacity: 0.9;
  border: none;
  height: 65px;
  border-radius: 0px;
  font-size: 15px;
}
#subscribe .block form .input-group-addon {
  padding: 0px;
  border: none;
  background: none;
}
#subscribe .block form .input-group-addon button {
  width: 212px;
  height: 65px;
  border: none;
  border-radius: 0px;
  background: grey;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
#subscribe .block form .input-group-addon button:hover {
  background: #69a8a1;
}
