<section id="subscribe">
  <div class="container-fluid center-block">
    <div class="row">
      <div class="block" id="tout">
        <h3 class="whitetitle">SUBSCRIBE TO OUR NEWSLETTER</h3>
        <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">Stay informed about us, news and events</p>
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" id="exampleInputAmount" placeholder="Enter your email adresse">
              <div class="input-group-addon">
                <button class="btn btn-default" type="submit">Send</button>
              </div>
            </div>
          </div>
        </form>
        <ul id="bottomnavbar" class="list-inline justify-content-center">
          <li class="list-inline-item"><a class="nav-link" class="nav-link" href="#services">OUR SERVICES</a></li>
          <li class="list-inline-item"><a class="nav-link" href="#offer">OFFER</a></li>
          <li class="list-inline-item"><a class="nav-link" href="#account">MY ACCOUNT</a></li>
          <li class="list-inline-item"><a class="nav-link" href="#pro">PRO</a></li>
          <li class="list-inline-item"><a class="nav-link" href="#subscribe">CONTACT US</a></li>
        </ul>
        <div id="fontawesome">
          <ul class="social-network social-circle">
            <li><a href="https://www.facebook.com/myglamapp/" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/myglamapp/" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
            <li><a href="http://picdeer.com/myglamapp" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.youtube.com/watch?v=H2arWbu4GUw" class="icoYouTube" title="YouTube"><i class="fa fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
